
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    padding: 30px 60px;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.on { background-color: #2ecc71; }   /* Зеленый */
.off { background-color: #e74c3c; }  /* Красный */
.none { background-color: #95a5a6; } /* Серый */